version: 4.0.{build}.0
build_cloud: WIN-LKR467JS4GL
image: Windows
skip_commits:
  files:
    - '**/*.md'
    - '**/*.png'
    - '**/*.jpg'
    - '**/*.jpeg'
    - '**/*.gif'
    - '**/*.svg'
    - '**/*.ico'
    - '**/*.webp'
    - '**/*.bmp'
    - '**/*.tiff'
    - '**/*.tif'
    - assets/
platform:
- Win32
- x64
configuration:
- Release_LIB
install:
- cmd: git submodule update --init --recursive
# Source: https://gist.github.com/nefarius/b60a498b0229b5cf0e338b7a39460b80
- ps: Setup-VS2022 $env:PLATFORM
before_build:
- cmd: .\prepare-deps.bat %PLATFORM%
- cmd: dotnet tool install Nefarius.Tools.Vpatch --tool-path .\tools
- cmd: .\tools\vpatch.exe --stamp-version "%APPVEYOR_BUILD_VERSION%" --target-file ".\src\HydraHook\HydraHook.rc" --resource.file-version --resource.product-version
- cmd: .\tools\vpatch.exe --stamp-version "%APPVEYOR_BUILD_VERSION%" --target-file ".\samples\HydraHook-ImGui\HydraHook-ImGui.rc" --resource.file-version --resource.product-version
- cmd: .\tools\vpatch.exe --stamp-version "%APPVEYOR_BUILD_VERSION%" --target-file ".\samples\HydraHook-DirectXTK\HydraHook-DirectXTK.rc" --resource.file-version --resource.product-version
build:
  project: $(APPVEYOR_BUILD_FOLDER)\HydraHook.sln
after_build:
- ps: |
    $injectorVersion = "v1.4.0"
    $zipUrl = "https://github.com/nefarius/Injector/releases/download/$injectorVersion/Injector_x86_amd64_arm64.zip"
    $zipPath = "$env:TEMP\Injector.zip"
    $downloadParams = @{ Uri = $zipUrl; OutFile = $zipPath; UseBasicParsing = $true }
    if ($env:GITHUB_TOKEN) { $downloadParams["Headers"] = @{ Authorization = "Bearer $env:GITHUB_TOKEN" } }
    Invoke-WebRequest @downloadParams
    if ($env:INJECTOR_SHA256) {
      $actualHash = (Get-FileHash -Path $zipPath -Algorithm SHA256).Hash
      if ($actualHash -ne $env:INJECTOR_SHA256) {
        throw "Injector zip checksum mismatch. Expected $env:INJECTOR_SHA256, got $actualHash"
      }
    }
    Expand-Archive -Path $zipPath -DestinationPath "$env:TEMP\Injector" -Force
    $injectorFolder = switch ($env:PLATFORM) { "Win32" { "x86" } default { $env:PLATFORM } }
    $extractRoot = "$env:TEMP\Injector"
    $srcPath = Join-Path $extractRoot (Join-Path $injectorFolder "Injector.exe")
    if (-not (Test-Path $srcPath)) { $srcPath = Join-Path $extractRoot (Join-Path $env:PLATFORM "Injector.exe") }
    $destDir = "bin\$injectorFolder"
    Copy-Item $srcPath -Destination $destDir -Force
artifacts:
- path: 'bin\**\*.dll'
  name: HydraHook
- path: 'bin\**\*.spritefont'
  name: HydraHook-SpriteFont
- path: 'bin\**\Injector.exe'
  name: HydraHook
deploy:
- provider: Environment
  name: BUILDBOT
  on:
    appveyor_repo_tag: true
